* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 0.1rem 0 4.9rem 0;
    background: radial-gradient(#777, #222);
    overflow-x: hidden;
}

/* Buttons de transição entre as paginas */

.containerButton {
    width: 13.7%;
    margin: 2rem auto;
}


.buttonCronometro, .btnRelogio {
    color: #000;
    text-decoration: none;
    
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;

    border: 0.2rem solid #555;
    border-radius: 2rem;

    padding: 0.5rem;
}

.buttonCronometro:hover, .btnRelogio:hover {
    background: radial-gradient(#777 30%, #000);
}